<html xmlns:th="http://www.thymeleaf.org">
  <!-- This is a template for defining a common HEAD tag for all the callers -->
  <head
      th:fragment="head (title)" th:assert="${!#strings.isEmpty(title)}">
    <title th:text="${title}">Default</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/roa.css"/>
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/backendClient.js"></script>
  </head>
  <body>

  </body>
</html>